<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <div>Logo</div>
    </header>

    <main>
        <section>
            <form onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="enter valid url">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>

        <section id="resultsSection" class="hidden">
            <p>Form Results:</p>
            <div id="results">
                <h1 id="title"></h1>
                <p id="body"> </p>
            </div>
        </section>
    </main>

    <footer>
        <p>footer</p>
    </footer>

</body>

</html>